In [28]:
import pandas as pd

In [29]:
import random

In [30]:
lst = ['robot'] * 10

In [31]:
lst += ['human'] * 10

In [32]:
random.shuffle(lst)

In [33]:
data = pd.DataFrame({'whoAmI':lst})

In [34]:
data.head()

  whoAmI
0  robot
1  human
2  human
3  human
4  human

In [35]:
import numpy as np

In [36]:
data['code']=1

In [37]:
print(data)

   whoAmI  code
0   robot     1
1   human     1
2   human     1
3   human     1
4   human     1
5   robot     1
6   human     1
7   robot     1
8   human     1
9   robot     1
10  human     1
11  human     1
12  human     1
13  robot     1
14  robot     1
15  robot     1
16  human     1
17  robot     1
18  robot     1
19  robot     1

In [38]:
#делаю колонку whoAmI колонкой индексом с значением True 
data.set_index([data.index, 'whoAmI'], inplace=True)

In [39]:
#функцией DataFrame.unstack возвращаем DataFrame с новым уровнем меток столбцов,самый внутренний уровень которого состоит из меток поворотных индексов. Поэтому колонку whoAmI сделала индексной
data = data.unstack(level=-1, fill_value = int(0))

In [40]:
#теперь необходимо убрать первую колонку с индексом
data.columns = data.columns.droplevel()

In [41]:
data.columns.name = None

In [42]:
print(data)

    human  robot
0       0      1
1       1      0
2       1      0
3       1      0
4       1      0
5       0      1
6       1      0
7       0      1
8       1      0
9       0      1
10      1      0
11      1      0
12      1      0
13      0      1
14      0      1
15      0      1
16      1      0
17      0      1
18      0      1
19      0      1